.panier {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: auto;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    background-color: rgba(128, 128, 128, 0.664);
    padding: 10px;
    border: solid white 1px;
    border-radius: 10px;
}

.product-img {
    width: 20px;
    margin-right: 20px;
}

.inner-panier {
    display: flex;
    align-items: center;
}